.rodape {
    background-color: black;
    color: #22D4FD;
    padding: 1.25% 0% 1.25% 0%;
    text-align: center;
    margin-top: 2%;
    font-family: 'Krona One', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
}